* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header,
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* common style */
.display-flex {
  display: flex;
}
.primary-btn {
  background-color: rgba(182, 140, 90, 1);
  color: white;
  padding: 16px 24px;
  border-radius: 8;
  border: none;
}
.dark2 {
  color: rgba(65, 64, 64, 1);
}
.dark3 {
  color: rgba(112, 112, 112, 1);
}

/* nav container style */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 120px;
}
.logo-img {
  fill: blue;
}
.nav-iteam-container {
  /* display: flex; */
  align-items: center;
  gap: 40px;
}
.nav-iteam-container li {
  list-style: none;
}
.nav-iteam-container li a {
  text-decoration: none;
  color: black;
}
.fa-greater-than {
  margin-left: 3px;
}
.justice {
  margin-left: 3px;
}
/* banner container style */
.banner-title {
  font-size: 4.5rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 60px;
}
.banner-discription {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.banner-input {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9px;
  width: 500px;
  padding: 20px 30px;
  border-style: none;
  margin-right: 10px;
}
.banner-img {
  width: 100%;
  border-radius: 30px;
}
.banner-img-container {
  margin-top: 120px;
  position: relative;
  text-align: center;
}
.banner-discription-container {
  position: absolute;
  top: 0;
  left: 0;
}
.input-and-btn {
  display: inline-block;
  margin-top: 20px;
}

/* practise area container style */
.practise-title {
  font-weight: 800;
  font-size: 2.65rem;
  text-align: center;
  margin-bottom: 20px;
}
.card-container {
  margin-top: 60px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card img {
  margin: 0 auto;
}
.card {
  width: 300px;
  text-align: center;
  padding-inline-start: 20px;
}
.card-title {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-arrow-right {
  color: white;
  background-color: #b68c5a;
  margin-bottom: 60px;
  margin-top: 40px;
  padding: 6px;
  border-radius: 50%;
}
.card2 {
  background: linear-gradient(
    to top,
    rgba(243, 243, 243, 1),
    rgba(243, 243, 243, 0)
  );
}

/* media query for mobile responsive */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1rem;
    margin-top: 5px;
  }
  .banner-discription {
    font-size: 1rem;
    text-overflow: ellipsis;
  }
  .banner-input {
    width: 150px;
  }
  .nav-iteam-container {
    flex-direction: column;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
