* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header,
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* common style */
.display-flex {
  display: flex;
}
.primary-btn {
  background-color: rgba(182, 140, 90, 1);
  color: white;
  padding: 16px 24px;
  border-radius: 8;
  border: none;
}
.dark2 {
  color: rgba(65, 64, 64, 1);
}
.dark3 {
  color: rgba(112, 112, 112, 1);
}

/* nav container style */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 120px;
}
.logo-img {
  fill: blue;
}
.nav-iteam-container {
  /* display: flex; */
  align-items: center;
  gap: 40px;
}
.nav-iteam-container li {
  list-style: none;
}
.nav-iteam-container li a {
  text-decoration: none;
  color: black;
}
.fa-greater-than {
  margin-left: 3px;
}
.justice {
  margin-left: 3px;
}
/* banner container style */
.banner-title {
  font-size: 4.5rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 60px;
}
.banner-discription {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.banner-input {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9px;
  width: 500px;
  padding: 20px 30px;
  border-style: none;
  margin-right: 10px;
}
.banner-img {
  width: 100%;
  border-radius: 30px;
}
.banner-img-container {
  margin-top: 120px;
  position: relative;
  text-align: center;
}
.banner-discription-container {
  position: absolute;
  top: 0;
  left: 0;
}
.input-and-btn {
  display: inline-block;
  margin-top: 20px;
}

/* practise area container style */
.practise-title {
  font-weight: 800;
  font-size: 2.65rem;
  text-align: center;
  margin-bottom: 20px;
}
.card-container {
  margin-top: 60px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card img {
  margin: 0 auto;
}
.card {
  width: 300px;
  text-align: center;
  padding-inline-start: 20px;
}
.card-title {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-arrow-right {
  color: white;
  background-color: #b68c5a;
  margin-bottom: 60px;
  margin-top: 40px;
  padding: 6px;
  border-radius: 50%;
}
.card2 {
  background: linear-gradient(
    to top,
    rgba(243, 243, 243, 1),
    rgba(243, 243, 243, 0)
  );
}
/* what are client sat section style */
.client-img {
  width: 100%;
  border-radius: 30px;
}
.client-head-title {
  font-weight: 800;
  font-size: 2.65rem;
  text-align: center;
}
.client-head-dis {
  text-align: center;
}
.coder {
  width: 80px;
  border-radius: 50%;
  display: block;
  justify-items: center;
}
.overlay-title {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}
.overlay-dis {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.client-container {
  position: relative;
  margin-top: 70px;
}
.overlay-container {
  display: block;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(17, 17, 17, 0.8); */
  /* padding: 30px; */
  /* padding-bottom: 20%;
  padding-top: 11%;
  padding-left: 10px;
  padding-right: 30px; */
  padding-top: 120px;
  width: 100%;
}

/* Frequently Asked Any Questions */
.question-title {
  font-weight: 800;
  font-size: 2.65rem;
}
.question-header {
  display: inline-block;
  justify-items: center;
  margin-top: 120px;
}
.ask-head {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 30px;
}
.ask-title {
  margin-bottom: 30px;
}
.ask-span {
  padding: 30px;
  margin-bottom: 30px;
}
.question-container {
  margin-top: 80px;
}
.question-container-img {
  width: 100%;
}
.ask-head,
.ask-span {
  background-color: rgba(243, 243, 243, 1);
  border-radius: 10px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 120px;
}

/* media query for mobile responsive */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1rem;
    margin-top: 5px;
  }
  .banner-discription {
    font-size: 1rem;
    text-overflow: ellipsis;
  }
  .banner-input {
    width: 150px;
  }
  .nav-iteam-container {
    flex-direction: column;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .banner-img {
    border-radius: 0;
  }
  .overlay-container {
    padding: 20px;
  }
  .overlay-title {
    font-size: 1rem;
  }
  .overlay-dis {
    color: black;
    white-space: wrap;
    overflow: hidden;
  }
  .question-container {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .question-header {
    margin-bottom: 80px;
    margin-top: 120px;
  }
}
